<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="current_session_context_class">thread</property>
        <property name="connection.url">jdbc:mysql://localhost/ligas_unir</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="model.Liga"/>
        <mapping class="model.Jugador"/>
        <mapping class="model.Entrenador"/>
        <mapping class="model.Equipo"/>
        <mapping class="model.Posicion"/>
        <mapping class="model.Competicion"/>
    </session-factory>
</hibernate-configuration>